{% extends 'Mensajeria/padre3.html' %}


{% block contenido_que_cambia %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <div class="inbox-container">
        <h2 class="inbox-header">Mensajes en tu bandeja de entrada</h2>
        <div class="message-list">
            {% for message in messages %}
                <div class="message">
                    <h3>De: {{ message.emisor }}</h3>
                    <p>Asunto: {{ message.asunto }}</p>
                    <p>Fecha: {{ message.timestamp }}</p>
                    <a href="{% url 'ver_mensaje' message_id=message.id %}" class="message-link">Ver mensaje</a>
                    <div class="message-content">
                        {{ message.content }}
                    </div>
                </div>
            {% empty %}
                <p class="no-messages">No tienes mensajes en tu bandeja de entrada.</p>
            {% endfor %}
        </div>
        <a class="btn btn-primary" href="{% url 'enviar_mensaje' %}">Enviar mensaje</a>
    </div>
{% endblock %}




