/* styles.css */
.message-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.message-table th, .message-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.message-table th {
    background-color: #f2f2f2;
}

.message-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.no-messages {
    font-style: italic;
    color: #999;
}


.contador-circular {
    display: inline-block;
    width: 24px; /* Ancho del contador */
    height: 24px; /* Altura del contador */
    line-height: 24px; /* Igual al alto para centrar verticalmente el texto */
    text-align: center; /* Centra el texto horizontalmente */
    border-radius: 50%; /* Hace que el div sea circular */
    background-color: red; /* Fondo rojo */
    color: white; /* Texto en blanco */
    font-weight: bold;
}

