{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block titulo %} Cabello! <br><br>- NATURA- </br></br> {% endblock %}

{% block contenido_que_cambia %}
<h4>Formulario Productos de Cabello</h4>
<br></br>

<form action = '{% url 'cabello' %}' method="POST"> {% csrf_token %}
    <table>
    {{ formulario.as_table }}
    </table>
    <br></br>
    <input type="submit" value="Agregar">
</form>

<br></br>

<table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Precio</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for cabellos in cabellos %}
      <tr>
        <td>{{ cabellos.Codigo }}</td>
        <td>{{ cabellos.Nombre }}</td>
        <td>{{ cabellos.Sexo }}</td>
        <td>{{ cabellos.Precio }}</td>
        <td>
            <a class="btn btn-danger" href="{% url 'eliminarcabello' cabellos.id %}" style = "Color: black;"><u><b>Eliminar</b></u></a>
            <a class="btn btn-primary" href="{% url 'editarcabello' cabellos.id %}" style = "Color: black;"><u><b>Editar</b></u></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<br></br>
<h3>{{ mensaje }}</h3>


{% endblock %}