{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block titulo %} Cabello! <br><br>- NATURA- </br></br> {% endblock %}

{% block contenido_que_cambia %}
{% if request.user.is_superuser %}
<h4>Formulario Productos de Cabello</h4>
<br></br>

<form action = '{% url 'cabello' %}' method="POST"> {% csrf_token %}
    <table>
    {{ formulario.as_table }}
    </table>
    <br></br>
    <input type="submit" value="Agregar">
</form>
{% endif %}
<br></br>

<div class="table-container">
  <table class="table table-custom">
      <h3>Lista de Productos</h3>
      <br></br>
      <thead>
          <tr class="table-header">
              <th>Código</th>
              <th>Nombre</th>
              <th>Sexo</th>
              <th>Precio</th>
              {% if request.user.is_superuser %}
              <th>Opciones</th>
              {% endif %}
          </tr>
      </thead>
      <tbody>
          {% for cabello in cabellos %}
          <tr>
              <td>{{ cabello.Codigo }}</td>
              <td>{{ cabello.Nombre }}</td>
              <td>{{ cabello.Sexo }}</td>
              <td>${{ cabello.Precio }}</td>
              {% if request.user.is_superuser %}
              <td>
                  <a class="btn btn-danger" href="{% url 'eliminarcabello' cabello.id %}" style="color: black;">
                      <u><b>Eliminar</b></u>
                  </a>
                  <a class="btn btn-primary" href="{% url 'editarcabello' cabello.id %}" style="color: black;">
                      <u><b>Editar</b></u>
                  </a>
              </td>
              {% endif %}
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>


<h3>{{ mensaje }}</h3>


{% endblock %}