{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block titulo %} Cuidado Corporal! <br><br>- NATURA- </br></br> {% endblock %}

{% block contenido_que_cambia %}
<h4>Formulario Cuidado Corporal</h4>
<br></br>

<form action = '{% url 'cuidadocorporal' %}' method="POST"> {% csrf_token %}
    <table>
    {{ formulario.as_table }}
    </table>
    <br></br>
    <input type="submit" value="Agregar">
</form>

<br></br>

<table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Precio</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for cuidadoscorporales in cuidadoscorporales %}
      <tr>
        <td>{{ cuidadoscorporales.Codigo }}</td>
        <td>{{ cuidadoscorporales.Nombre }}</td>
        <td>{{ cuidadoscorporales.Sexo }}</td>
        <td>{{ cuidadoscorporales.Precio }}</td>
        <td>
            <a class="btn btn-danger" href="{% url 'eliminarcuidadocorporal' cuidadoscorporales.id %}" style = "Color: black;"><u><b>Eliminar</b></u></a>
            <a class="btn btn-primary" href="{% url 'editarcuidadocorporal' cuidadoscorporales.id %}" style = "Color: black;"><u><b>Editar</b></u></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<br></br>
<h3>{{mensaje }}</h3>


{% endblock %}
