{% extends 'AppCoder/padre.html' %}

{% load static %}



{% block titulo %}
    <div class="titulo">
        <p class="titulo-texto">Perfumeria!</p>
        <p class="natura-texto">- NATURA -</p>
    </div>
{% endblock %}



{% block contenido_que_cambia %}
<br></br>
<td><a class="btn btn-secondary" href="{% url 'busquedaPerfume' %}" style = "Color: black;"><u><b>Buscar Perfume</b></u></a></td>
<br></br>
{% if request.user.is_superuser %}
<h4>Formulario Perfumeria</h4>
<br></br>

<form action = '{% url 'perfumeria' %}' method="POST"> {% csrf_token %}
    <table>
    {{ formulario.as_table }}
    </table>
    <br></br>
    <input type="submit" value="Agregar">

</form>
{% endif %}
<br></br>
<div class="table-container">
    <table class="table table-custom">
        <h3>Lista de Productos</h3>
        <br></br>
        <thead>
            <tr class="table-header">
                <th>Código</th>
                <th>Nombre</th>
                <th>Sexo</th>
                <th>Precio</th>
                {% if request.user.is_superuser %}
                <th>Opciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for perfume in perfumeria %}
            <tr>
                <td>{{ perfume.Codigo }}</td>
                <td>{{ perfume.Nombre }}</td>
                <td>{{ perfume.Sexo }}</td>
                <td>${{ perfume.Precio }}</td>
                {% if request.user.is_superuser %}
                <td>
                    <a class="btn btn-danger" href="{% url 'eliminarperfume' perfume.id %}" style="color: black;">
                        <u><b>Eliminar</b></u>
                    </a>
                    <a class="btn btn-primary" href="{% url 'editarperfume' perfume.id %}" style="color: black;">
                        <u><b>Editar</b></u>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



<h3>{{ mensaje }}</h3>
{% endblock %}


